@model Sistema_de_votacion.ViewModels.ResultDetailViewMode

@{
    ViewData["Title"] = "Detalle";
}
    <div>
        <h4>Candidato</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            @foreach (var postion in Model.Postions)
            {
                <dt class="col-sm-2">
                    Posicion
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => postion)
                </dd>
                foreach (var candidate in Model.Candidates.Distinct())
                {

                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => candidate.Name)
                        @Html.DisplayFor(model => candidate.LastName)
                    </dd>
                    <dd class="col-sm-10">
                        Votos: @Model.Candidates.Where(c => c.Id == candidate.Id).Count();
                    </dd>
                    <dd class="col-sm-10">
                        Porcenta: @Model.Candidates.Where(c => c.Id == candidate.Id).Average( c=> c.Id);
                    </dd>
                }
            }

           
        </dl>
    </div>
    <div>
        <a asp-action="ElectionList" class="btn btn-primary">Volver</a>
    </div>

