@model IEnumerable<Sistema_de_votacion.Models.Candidate>

<h4>Listado de Candidatos</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<div class="card-deck">
    @foreach (var candidate in Model)
    {
        var photoPath = "~/images/" + (candidate.ProfilePhothoPath ?? "Anonimo.jpg");
        <div class="card m-3" style="min-width:12rem; max-width:22.5%">
            <div class="card-header text-center">
                <h3>@(candidate.Name + " " + candidate.LastName)</h3>
                <h4>@candidate.PoliticParty.Name</h4>
                <h4>@candidate.Position.Name</h4>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                @*<a asp-controller="Candidates" asp-action="Details" asp-route-id="@candidate.Id"
                   class="btn btn-primary m-1">View</a>*@
                @*<a href="#" class="btn btn-primary">View</a>*@
                <a asp-action="Edit" asp-route-id="@candidate.Id" class="btn btn-warning btn-sm" style="width:auto">Editar</a> |
                <a asp-action="Details" asp-route-id="@candidate.Id" class="btn btn-info btn-sm" style="width:auto">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@candidate.Id" class="btn btn-danger btn-sm" style="width:auto">Eliminar</a>
            </div>
        </div>
    }

</div>
