@model IEnumerable<Sistema_de_votacion.Models.Candidate>
@inject Sistema_de_votacion.Services.Elections.IElectionService  electionService
@{
    ViewData["Title"] = "Index";
    var disabled = await electionService.VerifyElectionOpenAsync() ? "disabled" : "";
}
<h4>Listado de Candidatos</h4>

<p>
    <a asp-action="Create" class="btn btn-primary @disabled">Crear nuevo</a>
</p>
<div class="card-deck">
    @foreach (var candidate in Model)
    {
        var photoPath = "~/images/" + (candidate.ProfilePhothoPath ?? "Anonimo.jpg");
    <div class="card m-3" style="min-width:18rem; max-width:24.5%; background-color: @(!candidate.IsActive?"lightgray":"")" >
        <div class="card-header text-center">
            <h6>@(candidate.Name + " " + candidate.LastName)</h6>
            <h6>@candidate.PoliticParty.Name</h6>
            <h6>@candidate.Position.Name</h6>
        </div>       
            <img class="card-img-top" height="250" src="@photoPath" asp-append-version="true" />        
        <div class="card-body">
            <div class=" text-center m-0">
                <p class="m-0">Estado: @Html.DisplayFor(model => candidate.IsActive)</p>
            </div>
        </div>

        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@candidate.Id" class="btn btn-warning btn-sm @disabled" style="width:auto">Editar</a> |
            <a asp-action="Details" asp-route-id="@candidate.Id" class="btn btn-info btn-sm" style="width:auto">Detalle</a> |
            <a asp-action="Delete" asp-route-id="@candidate.Id" class="btn btn-danger btn-sm @disabled" style="width:auto">Eliminar</a>
        </div>
    </div>
    }

</div>
