@model Sistema_de_votacion.ViewModels.ElectionCreateViewModel
@{
    List<string> candidates = new List<string>();
}
<h4 class="display-4 text-center">Iniciar un proceso de eleccion.</h4>
<hr />

<form asp-action="Create" class="mt-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-5">
        <div class="form-group">
            <label asp-for="Name" class="control-label font-weight-bold"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <h2 class="text-center mt-5 mb-3">Seleccione los candidatos.</h2>

    <div>
        @foreach (var groupElectionCandidate in Model.ElectionCadidate)
        {
            <h4>Posicion: <span class="text-black-50">@groupElectionCandidate.Key</span></h4>
            <table class="table table-striped table-hover table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th hidden>
                            ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => groupElectionCandidate.First().Name) y
                            @Html.DisplayNameFor(model => groupElectionCandidate.First().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => groupElectionCandidate.First().PoliticPartyId)
                        </th>                        
                        <th>
                            @Html.DisplayNameFor(model => groupElectionCandidate.First().Selected)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var candidate in groupElectionCandidate)
                    {

                        <tr>
                            <td hidden>
                                @Html.DisplayFor(modelItem => candidate.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => candidate.Name)
                                @Html.DisplayFor(modelItem => candidate.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => candidate.PoliticParty.Name)
                            </td>
                            <td>
                                <label class="form-group form-check">
                                    @Html.CheckBoxFor(model => candidate.Selected, new { @id = "Candidates" })
                                </label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
         }

    </div>
    <div class="form-group text-center">
        <input type="submit" value="Iniciar" class="btn btn-primary" />
        <span>||</span>
        <a class="btn btn-secondary" asp-action="Index">Volver</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var candidates = [];
            $('input[type="checkbox"]').change(function () {
                var tr = $(this).closest('tr');
                var id = $(tr).find('td:nth-child(1)').text().trim();
                if ($(this).is(':checked')) {
                    candidates.push(id);
                } else {
                    for (var i = 0; i < candidates.length; i++) {
                        if (candidates[i] == id) {
                            candidates.splice(i, 1);
                        }
                    }
                }
                $.post('CandidatesSelected', { candidates: candidates });
            })
        })
    </script>
}

