@model Sistema_de_votacion.ViewModels.ResultDetailViewMode

@{
    ViewData["Title"] = "Detalle";
}
<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @foreach (var postion in Model.Postions)
        {
            <div class="row">
                <p >
                    <span class="font-weight-bold">Posicion: </span>  @Html.DisplayFor(model => postion)
                </p>
                <div class="mb-5 col-md-12">
                    @foreach (var candidate in Model.Candidates.Where(c => c.Position.Name == postion).Distinct())
                    {

                        <p> <span class="font-weight-bold">Candidato:</span>
                            @Html.DisplayFor(model => candidate.Name)
                            @Html.DisplayFor(model => candidate.LastName)
                        </p>
                        <p>
                            <span class="font-weight-bold">Cantidad de votos:</span>  @Model.Candidates.Where(c => c.Id == candidate.Id).Count()
                        </p>
                        <p>
                            <span class="font-weight-bold">Porcentaje:</span> @((Model.Candidates.Where(c => c.Id == candidate.Id).Count() / Model.Candidates.Where(c => c.Position.Name == postion).Count()) * 100)%
                        </p>
                    }

                </div>
            </div>
           
            
        }


    </dl>
</div>
<div>
    <a asp-action="ElectionsList" class="btn btn-primary">Volver</a>
</div>

