@model Sistema_de_votacion.ViewModels.ResultDetailViewMode

@{
    ViewData["Title"] = "Detalle";
    string photoPath = "/images/";
}
<h4 class="display-4 text-center">
    @Html.DisplayFor(model => model.Name).
</h4>
<hr />



    @foreach (var votes in Model.Votes)
    {
        <div class="mt-4">
            <h5>
                <span class="font-weight-bold">Posicion: </span>  @votes.Key
            </h5>
            <div class="d-flex justify-content-lg-start flex-wrap">
                @foreach (var candidate in Model.Candidates.Where(c => c.Position.Name == votes.Key))
                {
                    <div class="card m-3 shadow-sm" style="width:15rem;">
                        <div class="card-header text-center">
                            <h5 class="card-title">@(candidate.Name + " " + candidate.LastName)</h5>
                        </div>
                        <img class="card-img-top border rounded-circle mt-1" src="@($"{photoPath}{candidate.ProfilePhothoPath}")"
                             asp-append-version="true" alt="imagen del candidato." />
                        <div class="card-body text-center p-1">

                            <p>
                                @candidate.PoliticParty.Name <img width="30" height="30" src="@($"{photoPath}{candidate.PoliticParty.PartyLogoPath}")" alt="Logo del partido." />
                            </p>
                        
                                <p class="mb-0">
                                    <span class="font-weight-bold">Votos:</span>  @votes.Count(c => c.Id == candidate.Id)
                                </p>
                                <p>
                                    <span class="font-weight-bold">Porcentaje:</span> @((votes.Count(c => c.Id == candidate.Id) / votes.Count()) * 100)%
                                </p>
                   
                                
                            
                        </div>
                    </div>

                }

            </div>
        </div>


    }

<div class="mt-3">
    <a asp-action="ElectionsList" class="btn btn-primary">Volver</a>
</div>

